@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Eczar:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@200&family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

.logoLabel {
  display: flex;
  font-family: "Bodoni Moda", serif;
  margin-left: 16rem;
  margin-top: 1rem;
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 0;
}

.navbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -3.5rem;
  line-height: 40px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0;
}

.navbar ul li {
  display: block;
  margin: 1rem;
}

.navbar a:any-link {
  text-decoration: none;
  color: #333;
}

@media all and (min-width: 900px) and (max-width: 1280px) {
  .logoLabel {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .navbar ul {
    display: none;
  }

  .logoLabel {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 481px) {
  .navbar ul {
    display: none;
    flex-flow: column nowrap;
    list-style-type: none;
  }

  .navbar ul li {
    border-top: 1px solid #333;
    padding: 0.5rem;
  }

  .navbar a {
    display: block;
    text-align: center;
    width: 80%;
  }

  .logoLabel {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}
